body{
    background: #E5E5E5;
}
.container1{
    position: absolute;
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0;
    background: #0B2239;
    margin-left: 24px;
    margin-top: 228px;
}
.container11{
    color: white;
    position: absolute;
    width: 922px;
    height: 40px;
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Inter';
    font-size: 14.5px;
    font-weight: 400;
    line-height: 20px;
}
.container12{
    position: absolute;
    width: 86px;
    height: 20px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14.5px;
    line-height: 20px;
    color: #4AD295; 
    margin-left: 1084px;   
    margin-top: 14px;
}
.container131{
    
    width: 130px;
    height: 36px;
    background: #4AD295;
    border-radius: 2px; 
    margin-top: 18px;
    margin-left: 1190px;
}
.container13{
    position: absolute;
    margin-top: 8px;
    margin-left:6px;
    width: 110px;
    height: 20px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14.5px;
    line-height: 20px;
    color: white;
}
.container2{
    position: absolute;
    margin-top: 324px;
    margin-left: 24px;
    width: 1440px;
    height: 52px;
    background: #2B2627;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    left: 0px;
    top:0px
}
.container21{
    position: absolute;
    width: 689px;
    height: 20px; 
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14.5px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 369.5px;
    margin-top: 16px;
}
.container211{
    color: #FFFFFF;
}
.container22{
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(image.png);
    margin-top: 18px;
    margin-left: 1058.5px;
}
.container23{
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(image.png);
    margin-top: 18px;
    margin-left: 345.5px; 
}
.container3{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 560px;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    margin-top: 448px;
    margin-left: 24px;
}
.container31{
    position: absolute;
    margin-top: 16px;
    margin-left: 62px;
    width: 347px;
    height: 40px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 16.5px;
    line-height: 20px;
}
.container311{
    text-decoration: none;
    color: #EA4C89;
}
.container32{
    position: absolute;
    width: 63px;
    height: 28px;
    background: rgba(13, 12, 34, 0.05);
    border-radius: 8px;
    margin-top: 22px;
    margin-left: 419px;
}
.container321{
    position: absolute;
    margin-top: 4px;
    margin-left: 10px;
    idth: 43px;
    height: 20px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
    color: #0D0C22;
}
.container33{
    position: absolute;
    width: 52px;
    height: 28px;
    background: #EA4C89;
    border-radius: 8px;
    margin-top: 22px;
    margin-left: 492px;
}
.container331{
    position: absolute;
    text-decoration: none;
    width: 32px;
    height: 20px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    margin-top: 4px;
    margin-left: 10px;
    color: #FFFFFF;
}
.container34{
    position: absolute;
    width: 36px;
    height: 36px;
    margin-top: 18px;
    margin-left: 16px;
    background: rgba(234, 76, 137, 0.1);
    border-radius: 10px;
}
.container341{
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-left: 8px;    
}
.container4{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 560px;
    height: 64px;
    background: #26262B;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 10px;
    margin-top: 544px;
    margin-left: 24px;
}
.container41{
    position: absolute;
    width: 469px;
    height: 40px;
    font-family: 'Avenir LT Std';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 16px;
}
.container411{
    text-decoration: none;
    color: #E6842E;
}
.container42{
    position: absolute;
    width: 49px;
    height: 28px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 18px;
    margin-left: 495px;
}
.container421{
    position: absolute;
    width: 29px;
    height: 20px;
    font-family: 'Avenir LT Std';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #26262B;
    margin-top: 4px;
    margin-left: 10px;
    text-decoration: none;
}
.container5{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 206px;
    margin-top: 680px;
    margin-left: 24px;
    background: rgba(28, 37, 64, 0.95);
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 6px;
       
}
.container51{
    position: absolute;
    width: 121px;
    height: 20px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: 24px;
    margin-left: 24px;
}
.container52{
    position: absolute;
    width: 312px;
    height: 80px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-top: 54px;
    margin-left: 24px;
}
.container521{
    color: #FFFFFF;
}
.container53{
    position: absolute;
    width: 160px;
    height: 16px;
    margin-top: 158px;
    margin-left: 24px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    
    color: #FFFFFF;
    
}
.container54{
    position: absolute;
    width: 85px;
    height: 32px;
    background: #09B3AF;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    margin-top: 150px;
    margin-left: 251px;
}
.container541{
    position: absolute;
    width: 45px;
    height: 16px;
    margin-top: 8px;
    margin-left: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.container6{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 170px;
    margin-top: 680px;
    margin-left: 424px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    
}
.container61{
    position: absolute;
    width: 132px;
    height: 20px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #0F181D;
    margin-top: 16px;
    margin-left: 16px;
}
.container62{
    position: absolute;
    width: 328px;
    height: 60px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15.5px;
    line-height: 20px;
    color: #687F8C;
    margin-top: 46px;
    margin-left: 16px;
}
.container63{
    position: absolute;
    width: 160px;
    height: 32px;
    background: #EAF0F4;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    margin-top: 122px;
    margin-left: 16px;
}
.container631{
    position: absolute;
    width: 144px;
    height: 16px;  
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin-top: 8px;
    margin-left: 8px;
    color: #687F8C;
    text-decoration: none;
}
.container64{
    position: absolute;
    width: 160px;
    height: 32px;
    background: #40C1A7;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    margin-top: 122px;
    margin-left: 184px;
}
.container641{
    position: absolute;
    width: 144px;
    height: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 8px;
    margin-left: 8px;
    text-decoration: none;
}
.container7{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 260px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(186, 226, 255, 0.15) 23.96%, rgba(229, 217, 255, 0.15) 71.87%, rgba(255, 255, 255, 0.15) 100%), #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 20px;
    margin-top:958px;
    margin-left: 24px;
}
.container71{
    position: absolute;
    width: 104px;
    height: 48px;
    margin-top: 32px;
    margin-left: 108px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 48px;
    color: #15295A;
}
.container72{
    position: absolute;
    width: 256px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18.5px;
    line-height: 24px;
    margin-top: 80px;
    margin-left: 32px;
    text-align: center;
    color: #15295A;
}
.container73{
    position: absolute;
    width: 121px;
    height: 44px;
    margin-top:184px ;
    margin-left: 99.5px;
    background: #4A7EFF;
    border-radius: 43px;
}
.container731{
    position: absolute;
    width: 57px;
    height: 24px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18.5px;
    line-height: 24px;
    margin-top: 10px;
    margin-left: 32px;
    color: white;
}
.container8{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 137px;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 4px;
    margin-top:958px ;
    margin-left:384px ;
}
.container81{
    position: absolute;
    width: 288px;
    height: 60px;
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 16.5px;
    line-height: 20px;
    margin-top: 16px;
    margin-left: 16px;
    color: #000000;
}
.container82{
    position: absolute;
    width: 95px;
    height: 17px;
    font-family: 'SF Pro Text';
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    margin-top: 96px;
    margin-left:16px ;
    color: #6666FF;
}
.container83{
    position: absolute;
    width: 64px;
    height: 33px;
    margin-top: 88px;
    margin-left: 240px;
    background: #6666FF;
    border-radius: 4px;
}
.container831{
    position: absolute;
    text-decoration: none;
    width: 48px;
    height: 17px;
    color: #FFFFFF;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    margin-top: 8px;
    margin-left: 8px;
}

