.shop{
    margin-top: 172px;
    margin-left: 165px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 2fr 4fr ;
}
.foot{
    margin-top: 97px;
    margin-left: 546px;
}
.more{
    margin-top: -185px;
    margin-left: 831px;
}